<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/index.css">
</head>
<body>
  <div class="container">
    <h5 class="mt-5">Real Time Weather API</h5>
    <form method="post">
      <div class="form-group">
        <label for="mytxtinput">Enter Location:</label>
        <input type="text" class="form-control" id="mytxtinput" name="mytxtinput">
      </div>
      <button type="submit" class="btn btn-primary">Current weather!</button>
    </form>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>